<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stacked Bar Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
  </head>

  <body>
    <h1>Matches</h1>
    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script>
      const ctx = document.getElementById("myChart");
      const autocolors = window["chartjs-plugin-autocolors"];
      Chart.register(autocolors);

      fetch("http://localhost:8000/graph1api/")
        .then((response) => response.json())
        .then((data) => {
          data = data.data;
          const dataset = [];
          for (const key in data.teamCount) {
            dataset.push({
              label: key,
              data: data.teamCount[key],
            });
          }

          console.log(dataset);
          
          const labels = data.seasons;
          const data_chart = {
            labels: data.seasons,
            datasets: dataset,
          };

          const config = {
            type: "bar",
            data: data_chart,
            options: {
              responsive: true,
              scales: {
                x: {
                  stacked: true,
                },
                y: {
                  stacked: true,
                },
              },
            },
          };

          const myChart = new Chart(ctx, config);
        });
    </script>
  </body>
</html>
